<main class="ink-grid">

<div class="column-group">
    <form class="small-30 top-space ink-form">
        <div class="control-group">
            <div class "append-button" role="search">
                <input type="search" class="control" ng-model=$ctrl.search placeholder="Filter">
                <button class="ink-button">Search</button>
                    <button class="ink-button">Mood</button>
                    <button class="ink-button">Color</button>
                    <button class="ink-button">Top</button>
            </div>
        </div>

    </form>
    <div>
      <p>Register or sign in to save your favorite images</p>
    </div>


    <div class="column-group top-space">
        <div class="xlarge-30 large-30 medium-50 small-100 tiny-100 align-center" ng-repeat="collected_image in $ctrl.collected_images | orderBy:$ctrl.filters | filter:$ctrl.search">
            <div>
                <img class="column ink-image" ng-src="{{collected_image.URL}}">

            </div>
            <div class="over-top">
                <h4 class="media-heading">
                  {{image.votes}}
                </h4>
                <!-- <div>
                    <span am-time-ago="{{image.date}}"></span>
                </div> -->
            </div>
        </div>
    </div>
</main>
