<main class="ink-grid">

    <div class="column-group">
        <form class="small-30 top-space ink-form">
            <div class="control-group">
                <div class="append-button" role="search">
                  <button class="ink-button push-right" ng-click="$ctrl.doSortThing('keyword', theTerm)">Search</button>
                    <input type="search" class="control push-right" ng-model="theTerm" placeholder="Search By Keyword">
                    <a ng-click="isMoodOpen = !isMoodOpen"><button class="ink-button">Mood</button></a>
                    <a ng-click="isColorOpen = !isColorOpen"><button class="ink-button">Color</button></a>
                    <button class="ink-button" ng-model="$ctrl.filters" value="-uploaded_images.popularity">Top</button>
                </div>
                <div class="top-space align-center" ng-init="isMoodOpen = false" ng-show="isMoodOpen" id="moodButton">
                    <button class="ink-button" ng-click="$ctrl.doSortThing('mood', 'angry')">Angry</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('mood','anxious')">Anxious</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('mood', 'content')">Content</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('mood', 'fearful')">Fearful</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('mood', 'happy')">Happy</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('mood', 'hopeful')">Hopeful</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('mood', 'melancholic')">Melancholic</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('mood', 'peaceful')">Peaceful</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('mood', 'sad')">Sad</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('mood', 'silly')">Silly</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('mood', 'weird')">Weird</button>
                </div>
                <div class="top-space align-center" ng-init="isColorOpen = false" ng-show="isColorOpen" id="colorButton">
                    <button class="ink-button" ng-click="$ctrl.doSortThing('color', 'red')">Red</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('color', 'orange')">Orange</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('color', 'yellow')">Yellow</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('color', 'green')">Green</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('color', 'blue')">Blue</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('color', 'purple')">Purple</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('color', 'brown')">Brown</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('color', 'cream')">Cream</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('color', 'grey')">Grey</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('color', 'black')">Black</button>
                    <button class="ink-button" ng-click="$ctrl.doSortThing('color', 'white')">White</button>
                </div>
            </div>

        </form>


        <div class="column-group top-space left-space extraleft">
            <div class="xlarge-30 large-30 medium-50 small-100 tiny-100 align-center" ng-repeat="uploaded_image in $ctrl.uploaded_images | orderBy:$ctrl.filters" >
                <div class="bottom-space left-space">
                    <img class="column ink-image" ng-src="{{uploaded_image.URL}}">

                </div>
                <div class="over-top">
                    <h4 class="media-heading">
                  {{image.votes}}
                </h4>
                    <!-- <div>
                    <span am-time-ago="{{image.date}}"></span>
                </div> -->
                </div>
            </div>
        </div>
</main>
