<main class="ink-grid align-center splashbackground">
    <div class="spacer">
    </div>
    <div class="bigcard push-center align-center">
        <h3 class="above">Register</h3>
        <p>Register to collect your favorite images.</p>
        <form name="registerForm" class="ink-form sidepad above bottom-space" novalidate>

            <div class="control-group all-50 small-100 tiny-100 align-center" ng-class="{ 'has-error': registerForm.$invalid }">
                <label for="email">Email</label>
                <input id="email" name="email" class="control" ng-minlength=5 placeholder="Email" ng-model="$ctrl.person.email" required>
                <span class="error" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
                  <br />
              <small class="error" ng-show="registerForm.email.$error.minlength">Please provide a valid email.
              </small>
            </span>

            </div>
            <div class="control-group all-50 small-100 tiny-100 align-center" ng-class="{ 'has-error': registerForm.$invalid }">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" class="control" ng-minlength=5 placeholder="Password" ng-model="$ctrl.person.password" required>
                <span class="error" ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
                  <br />
              <small class="error" ng-show="registerForm.password.$error.minlength">Password must be at least 6 characters long.
              </small>
            </span>

            </div>
            <br />
            <br />
            <div class="control append-button align-center" role="submit">
                <button class="ink-button push-center" ng-click="$ctrl.register()" ng-disabled="registerForm.$invalid" type="submit">submit</button>
            </div>
        </form>
        <div class="bottomsies">
        </div>
    </div>
</main>
