<main class="ink-grid align-center splashbackground">
    <div class="spacer">
    </div>
    <div class="bigcard push-center align-center">
        <h3 class="above">Register</h3>
        <p>Register to collect your favorite images.</p>
        <form name="registerForm" class="ink-form sidepad above bottom-space" novalidate>
            <div class="control-group all-100 align-center" ng-class="{ 'has-error': registerForm.$invalid }">
                <label for="title">Username</label>
                <input id="URL" name="username" class="control" ng-minlength=5 placeholder="Username" ng-model="$ctrl.person.username" required>
                <span class="error" ng-show="registerForm.title.$invalid">
              <small class="error" ng-show="registerForm.title.$error.minlength">pls change validate to url stuff
              </small>
            </span>

            </div>
            <div class="control-group all-50 small-100 tiny-100 align-center" ng-class="{ 'has-error': registerForm.$invalid }">
                <label for="title">Email</label>
                <input id="email" name="email" class="control" ng-minlength=5 placeholder="Email" ng-model="$ctrl.person.email" required>
                <span class="error" ng-show="registerForm.title.$invalid">
              <small class="error" ng-show="registerForm.title.$error.minlength">pls change validate to url stuff
              </small>
            </span>

            </div>
            <div class="control-group all-50 small-100 tiny-100 align-center" ng-class="{ 'has-error': registerForm.$invalid }">
                <label for="title">Password</label>
                <input id="password" name="password" class="control" ng-minlength=5 placeholder="Password" ng-model="$ctrl.person.password" required>
                <span class="error" ng-show="registerForm.title.$invalid">
              <small class="error" ng-show="registerForm.title.$error.minlength">pls change validate to url stuff
              </small>
            </span>

            </div>
            <div class="control append-button align-center" role="submit">
                <button class="ink-button push-center" ng-click="$ctrl.register()" ng-disabled="registerForm.$invalid" type="submit">submit</button>
            </div>
        </form>
        <div class="bottomsies">
        </div>
    </div>
</main>
