<main class="ink-grid splashbackground">
  <div class="spacerless">
  </div>
  <div class="bigcard push-center">
    <h3 class="align-center above"> Upload an Image </h3>
<form name="uploadForm" class="ink-form sidepad above bottom-space" novalidate>
    <div class="control-group all-50 small-100 tiny-100 align-center" ng-class="{ 'has-error': uploadForm.$invalid }">
        <label for="title">Upload from URL</label>
        <input id="URL" name="URL" class="control" ng-minlength=5 placeholder="URL" ng-model="$ctrl.uploaded_images.URL" required>
        <span class="error" ng-show="uploadForm.title.$invalid">
                <small class="error" ng-show="uploadForm.URL.$error.minlength">pls change validate to url stuff
                </small>
              </span>

    </div>
    <div class="control-group all-50 small-100 tiny-100 align-center extrabottom" ng-class="{ 'has-error': uploadForm.$invalid }">
        <label for="title">Keyword</label>
        <input id="URL" name="URL" class="control" ng-minlength=4 placeholder="Keyword" ng-model="$ctrl.uploaded_images.keyword" required>
        <span class="error" ng-show="uploadForm.title.$invalid">
                <small class="error" ng-show="uploadForm.title.$error.minlength">pls change validate to keyword stuff
                </small>
              </span>

    </div>
    <section class="column-group">
      <h5 class="align-center"> Select a MOOD matches your uploaded image. </h5>

    <fieldset class="all-100">
        <div class="control-group all-100 push-center align-center">
            <ul class="control unstyled inline">
                <li><input type="radio" id="angry" name="angry" value="angry" ng-model="$ctrl.uploaded_images.mood"><label for="angry">Angry</label></li>
                <li><input type="radio" id="anxious" name="anxious" value="anxious" ng-model="$ctrl.uploaded_images.mood"><label for="anxious">Anxious</label></li>
                <li><input type="radio" id="content" name="content" value="content" ng-model="$ctrl.uploaded_images.mood"><label for="content">Content</label></li>
                <li><input type="radio" id="fearful" name="fearful" value="fearful" ng-model="$ctrl.uploaded_images.mood"><label for="fearful">Fearful</label></li>
                <li><input type="radio" id="happy" name="happy" value="happy" ng-model="$ctrl.uploaded_images.mood"><label for="happy">Happy</label></li>
                <li><input type="radio" id="hopeful" name="hopeful" value="hopeful" ng-model="$ctrl.uploaded_images.mood"><label for="hopeful">Hopeful</label></li>
                <li><input type="radio" id="melancholic" name="melancholic" value="melancholic" ng-model="$ctrl.uploaded_images.mood"><label for="melancholic">Melancholic</label></li>
                <li><input type="radio" id="peaceful" name="peaceful" value="peaceful" ng-model="$ctrl.uploaded_images.mood"><label for="peaceful">Peaceful</label></li>
                <li><input type="radio" id="sad" name="sad" value="sad" ng-model="$ctrl.uploaded_images.mood"><label for="sad">Sad</label></li>
                <li><input type="radio" id="silly" name="silly" value="silly" ng-model="$ctrl.uploaded_images.mood"><label for="silly">Silly</label></li>
                <li><input type="radio" id="weird" name="weird" value="weird" ng-model="$ctrl.uploaded_images.mood"><label for="weird">Weird</label></li>
            </ul>
        </div>
    </fieldset>
    <div class="control append-button align-center all-100" ng-click="isSpinnerOpen = !isSpinnerOpen" role="submit">
        <button class="ink-button push-center" ng-click="$ctrl.toBackend()" ng-disabled="postForm.$invalid" type="submit">submit</button>
    </div>
    <div class="sk-circle" ng-init="isSpinnerOpen = false" ng-show="isSpinnerOpen">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>

  </section>


  <div class="bottomsies">
  </div>
</form>
</div>
</main>
